#item1 ol{
    margin: 0;
    padding: 0;
}
#item1-params-list ol,#item1-params-text ol{
    list-style: none;
    margin-top: 5px;
    /*align-items: center;*/
}
#item1-params-list ol li,#item1-params-text ol li{
    display: inline-block;
    width: 60px;
    float: left;
}
#item1-sidebar ol{
    list-style: none;
    position: absolute;
    right: 0;
    padding-right: 10px;
}
#item3-text ol,#item3-sidebar ol{
    list-style: none;
}
#item3-text ol{
    position: absolute;
    right: 0;
    text-align: left;
    font-size: 17px;
    line-height: 30px;
}
#item3-text ol.value{
    top: 30%;
}
#item3-text ol.diff{
    bottom: 30%;
}
#item3-sidebar ol{
    position: relative;
    left: 0;
    top: 25%;
}
#item3-sidebar ol.symbol{
    position: relative;
    left: -50px;
    top: 20%;
}
#item3-sidebar ol.symbol li{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    float: left;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
}
#item1 ol li button,#item3-sidebar ol li button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 4px;
}
#item3-realtime span{
    float: right;
}
#item4 table th{
    background: rgba(0,0,0,0.1);
}
#item4 table caption{
    color: inherit;
}