.add-user {
    display: none;
    width: 500px;
    height: 440px;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
    border-radius: 20px;
    padding: 30px;
}

.add-roles {
    display: none;
    width: 500px;
    height: 200px;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
    border-radius: 20px;
    padding: 30px;
}

.add-threshold {
    display: none;
    width: 500px;
    height: 380px;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
    border-radius: 20px;
    padding: 30px;
}

.add-alarm-user{
    display: none;
    width: 400px;
    height: 250px;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
    border-radius: 20px;
    padding: 30px;
}

add-alarm-user{
    display: none;
    width: 500px;
    height: 440px;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
    border-radius: 20px;
    padding: 30px;
}

.setting-class {
    display: none;
    width: 500px;
    height: 440px;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
    border-radius: 20px;
    padding: 30px;
}


.clickEventRow-class {
    width: 90px;
    height: 60px;
    background: rgba(0,0,0,.0);
    position: absolute;
    top: 350px;
    left: 300px;
    right: 0;
    bottom: 0;
}

.conformEventRow-class {
    display: block;
    width: 350px;
    height: 280px;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
    border-radius: 20px;
    padding: 30px;
}

.add-user-item {
    flex: 1;
}

.add-roles-item {
    flex: 1;
}

.add-threshold-item {
    flex: 1;
}

.add-user-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.add-roles-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.add-threshold-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.add-user-input {
    width: 80%;
}

.add-roles-input {
    width: 80%;
}

.add-threshold-input {
    width: 80%;
}

.setting-input {
    width: 100%;
}

.add-user-handle {
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.add-roles-handle {
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.add-threshold-handle {
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.add-user-one-line{
    display: flex;
    margin-bottom: 20px;

}

.add-roles-one-line{
    display: flex;
    margin-bottom: 20px;

}

.add-threshold-one-line{
    display: flex;
    margin-bottom: 20px;

}

.add-user-one-line:last-of-type {
    margin-bottom: 0;
}

.add-roles-one-line:last-of-type {
     margin-bottom: 0;
}

.add-threshold-one-line:last-of-type {
    margin-bottom: 0;
}

/* location-bar */
.location-select {
    display: flex;
}

.location-select-item {
    width: 90px;
}

.location-select-item-w {
    width: 120px;
}

.item-position {
    margin-top: 15px;
    margin-left: 15px;
}