<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="db_local">
        <!-- 指定连接数据库的驱动程序 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 指定连接数据库的URL -->
        <property name="connection.url">jdbc:mysql://localhost:3306/Test?useUnicode=true&amp;characterEncoding=UTF8</property>
        <!-- 指定数据库使用的SQL方言 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 指定连接数据库的用户名 -->
        <property name="connection.username">root</property>
        <!-- 指定连接数据库的口令 -->
        <property name="connection.password">cjy123</property>



        <!-- true表示程序运行时，在控制台显示SQL语句，false表示不显示SQL语句 -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>

        <!-- 持久化类所对应的映射文件 -->
        <mapping class="hibernatePOJO.AssessmentSetting"/>
        <mapping class="hibernatePOJO.AssessRecord"/>
        <mapping class="hibernatePOJO.CaptureSetting"/>
        <mapping class="hibernatePOJO.CityBank"/>
        <mapping class="hibernatePOJO.Computerroom"/>
        <mapping class="hibernatePOJO.Devices"/>
        <mapping class="hibernatePOJO.DeviceAlarmUser"/>
        <mapping class="hibernatePOJO.DevicesThreshold"/>
        <mapping class="hibernatePOJO.Dictionary"/>
        <mapping class="hibernatePOJO.DictionaryPlus"/>
        <mapping class="hibernatePOJO.EventPower"/>
        <mapping class="hibernatePOJO.EventsType"/>
        <mapping class="hibernatePOJO.EventtypeDevice"/>
        <mapping class="hibernatePOJO.EventtypeEnvironment"/>
        <mapping class="hibernatePOJO.EventtypePower"/>
        <mapping class="hibernatePOJO.Knowledge"/>
        <mapping class="hibernatePOJO.Permission"/>
        <mapping class="hibernatePOJO.PowerparmMonitor"/>
        <mapping class="hibernatePOJO.PowersxdyMonitor"/>
        <mapping class="hibernatePOJO.PowerxbMonitor"/>
        <mapping class="hibernatePOJO.ProvinceBank"/>
        <mapping class="hibernatePOJO.Roles"/>
        <mapping class="hibernatePOJO.RolesPermission"/>
        <mapping class="hibernatePOJO.User"/>
        <mapping class="hibernatePOJO.UserRoles"/>

        <mapping resource="hibernatePOJO/AssessmentSetting.hbm.xml"/>
        <mapping resource="hibernatePOJO/AssessRecord.hbm.xml"/>
        <mapping resource="hibernatePOJO/CaptureSetting.hbm.xml"/>
        <mapping resource="hibernatePOJO/CityBank.hbm.xml"/>
        <mapping resource="hibernatePOJO/Computerroom.hbm.xml"/>
        <mapping resource="hibernatePOJO/Devices.hbm.xml"/>
        <mapping resource="hibernatePOJO/DeviceAlarmUser.hbm.xml"/>
        <mapping resource="hibernatePOJO/DevicesThreshold.hbm.xml"/>
        <mapping resource="hibernatePOJO/Dictionary.hbm.xml"/>
        <mapping resource="hibernatePOJO/DictionaryPlus.hbm.xml"/>
        <mapping resource="hibernatePOJO/EventPower.hbm.xml"/>
        <mapping resource="hibernatePOJO/EventsType.hbm.xml"/>
        <mapping resource="hibernatePOJO/EventtypeDevice.hbm.xml"/>
        <mapping resource="hibernatePOJO/EventtypeEnvironment.hbm.xml"/>
        <mapping resource="hibernatePOJO/EventtypePower.hbm.xml"/>
        <mapping resource="hibernatePOJO/Knowledge.hbm.xml"/>
        <mapping resource="hibernatePOJO/Permission.hbm.xml"/>
        <mapping resource="hibernatePOJO/PowerparmMonitor.hbm.xml"/>
        <mapping resource="hibernatePOJO/PowersxdyMonitor.hbm.xml"/>
        <mapping resource="hibernatePOJO/PowerxbMonitor.hbm.xml"/>
        <mapping resource="hibernatePOJO/ProvinceBank.hbm.xml"/>
        <mapping resource="hibernatePOJO/Roles.hbm.xml"/>
        <mapping resource="hibernatePOJO/RolesPermission.hbm.xml"/>
        <mapping resource="hibernatePOJO/User.hbm.xml"/>
        <mapping resource="hibernatePOJO/UserRoles.hbm.xml"/>
        <mapping resource="hibernatePOJO/OrgnizationStructure.hbm.xml"/>

    </session-factory>
</hibernate-configuration>